/data/

/mlruns/


/obj/

/bin/
/forex_trader/__pycache__/
__pycache__/
/forex_trader/Evaluate/__pycache__/
/forex_trader/model/__pycache__/
/forex_trader/process_data/__pycache__/
/Artifact_trading/
/obj/	
/obj/
/mlartifacts/
/mlruns/
/mlartifacts/
/artifacts/** 
/build/
# TODO: Fix this
/artifacts/
artifacts/
artifacts/**
artifacts/Density/
artifacts
/artifacts/Precision-Recall/*.jpeg
*/artifacts/*
**/artifacts/**
