/data/

/mlruns/


/obj/

/bin/
/src/__pycache__/
__pycache__/
/src/Evaluate/__pycache__/
/src/model/__pycache__/
/src/process_data/__pycache__/
/Artifact_trading/
/obj/	
/obj/
/mlartifacts/
/mlruns/
/mlartifacts/
/build/
